<div class="row registration">
  <div id="login-form-control" class="col-xs-12 form-area">
    <h2 class="registration-header">Login</h2>
    <form (ngSubmit)="login()" [formGroup]="form">
      <input id="login-username-textbox" type="text" class="form-control" placeholder="Username" [formControl]="username" required>
      <input id="login-password-textbox" type="password" class="form-control" placeholder="Password" [formControl]="password" required>
      <div *ngIf="errorMessage">
        <span class="help-block error">{{errorMessage}}</span>
      </div>
      <div *ngIf="successMessage">
        <span class="help-block success">{{successMessage}}</span>
      </div>
      <button id="login-submit" type="submit" class="go-btn btn btn-lg btn-success btn-block">Login</button>
    </form>
    <div class="row">
      <a (click)=navigateToRegister()>Register</a>
    </div>    
  </div>
</div>