logs
*.log
pids
*.pid
*.seed
registration-web/lib-cov
.lock-wscript
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
/doc/
.idea/
*.swp

registration-server/.gradle
registration-server/*.sw?
registration-server/.#*
registration-server/*#
registration-server/*~
registration-server//build
registration-server//code
registration-server/.classpath
registration-server/.project
registration-server/.settings
registration-server/.metadata
registration-server/.factorypath
registration-server/.recommenders
registration-server/bin
registration-server/build
registration-server/lib/
registration-server/target
registration-server/.factorypath
registration-server/.springBeans
registration-server/interpolated*.xml
registration-server/dependency-reduced-pom.xml
registration-server/build.log
registration-server/_site/
registration-server/.*.md.html
registration-server/manifest.yml
registration-server/MANIFEST.MF
registration-server/settings.xml
registration-server/activemq-data
registration-server/overridedb.*
registration-server/*.iml
registration-server/*.ipr
registration-server/*.iws
registration-server/.idea
registration-server/*.jar
registration-server/.DS_Store
registration-server/.factorypath

registration-web/node_modules
registration-web/bower_components
registration-web/npm-debug.log
registration-web/coverage/
registration-webregistration-web/src/typings/tsd/
registration-web/typings/
registration-web/tsd_typings/
registration-web/dist
registration-web/public/__build__/
registration-web/src/*/__build__/
registration-web/__build__/**
registration-web/public/dist/
registration-web/src/*/dist/
registration-web/dist/**
registration-web/.webpack.json