html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a {
  cursor: pointer;
}

.header {
  margin-bottom: 0;
}
.navbar {
  border-radius: 0;
}
  .navbar .navbar-brand {
    color: #FFF;
  }
  .navbar-inverse .navbar-nav>li>a.active-link {
    color: #FFF;
  }
.dropdown-btn {
  cursor: pointer;
}
  .dropdown-btn:hover .dropdown {
    display: block;
  }
.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #222222;
  z-index: 5;
}
  .dropdown > li > a {
    display: block;
    color: #9d9d9d;
    padding: 15px;
    white-space: nowrap;
  }
    .dropdown > li > a:hover,
    .dropdown > li > a:focus {
      text-decoration: none;
      color: #fff;
    }

.registration {
  margin: 40px 0;
}
  .registration .registration-header {
    margin: 30px 0;
  }
  .registration .form-area {
    text-align: center;
  }
  .registration .form-control {
    width: 100%;
    margin: 10px auto;
    border-radius: 0;
  }
  .registration .go-btn {
    margin: 15px auto;
    width: 100%;
    border-radius: 0;
    font-size: 14px;
    padding: 4px 0;
  }
  .registration .help-block {
    margin-top: 15px;
  }
  .registration .help-block.error {
    color: red;
  }
  .registration .help-block.success {
    color: green;
  }

@media screen and (min-width: 768px) {
  .registration .go-btn {
    width: 40%;
  }
  .registration .form-control {
    width: 40%
  }
}