<div class="row registration">
  <div>
    <div id="form-control" class="col-xs-12 form-area">
      <h2 class="registration-header">Register</h2>
      <form (ngSubmit)="register()">
        <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" required>
        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
        <div *ngIf="errorMessage">
          <span class="help-block error">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage">
          <span class="help-block success">{{successMessage}}</span>
        </div>
        <button type="submit" class="go-btn btn btn-lg btn-success btn-block">Register</button>
      </form>
    </div>
  </div>
</div>